# macOS
.DS_Store

# R / RStudio local files
.Rproj.user/
*.Rproj
.Rhistory
.RData
.Ruserdata

# Python cache
__pycache__/
*/__pycache__/
*.pyc

# Local data
data/
raw_DENTEX_data/

# Model weights
*.pt

# Model artifacts
*.pt
models/checkpoints/
models/runs/
